[submodule "Modules/CommonUI"]
	path = Modules/CommonUI
	url = https://github.com/Code4Fun-Group/CommonUI.git
[submodule "Modules/Networking"]
	path = Modules/Networking
	url = https://github.com/Code4Fun-Group/Networking.git
[submodule "Modules/Common"]
	path = Modules/Common
	url = https://github.com/Code4Fun-Group/Common.git
